<div class="page-header">
  <h2>Account Settings
   <!--  Edit
   <%= resource_name.to_s.humanize %> --></h2>
</div>

<div class="col-sm-9">
<!--   <h3>Edit my account</h3> -->
  <%= render "devise/registrations/edit" %>

</div>
<div class="col-sm-3">
  <%= render "devise/shared/links" %>
</div>
