<div class="page-header">
  <h2>Change your password</h2>
</div>
<div class="col-sm-9">
  <%= render "devise/passwords/edit" %>
</div>
<div class="col-sm-3">
  <%= render "devise/shared/links" %>
</div>

