<div class="page-header">
	<h2>Forgot your password?</h2>
</div>
<div class="col-sm-9">
	<%= render "devise/passwords/_new" %>
</div>
<div class="col-sm-3">
	<%= render "devise/shared/links" %>
</div>
