<% if user_signed_in? && current_page?('/') != true%>
<!-- 	<div class="container col-sm-12"> -->
		<ol class="breadcrumb nobg">
	    <%= render_breadcrumbs :tag => :li, :separator => "" %>
		</ol>
<!-- 	</div> -->
<% end %>